<!doctype html>
<html>
<head>
    <title>Physician App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Medical Note Extraction App</h1>

    <p style="color:blue;">{{ message }}</p>

    <form method="post">
        <textarea name="transcript" rows="20">{{ transcript }}</textarea><br><br>

        <select name="task">
            <option value="ner">Task1: NER & Keywords</option>
            <option value="sentiment">Task2: Sentiment & Intent</option>
            <option value="soap">Task3: SOAP Note</option>
            <option value="summarization">Summarization</option>
        </select><br><br>

        <input type="submit" value="Run Task">
    </form>

   {% if result %}
    <h2>Selected Task: {{ task|capitalize }}</h2>
    <h3>Result:</h3>
    <pre>{{ result | tojson(indent=2) }}</pre>
{% endif %}

</body>
</html>
